<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('答案详情')"/>
</head>
<body class="white-bg">
<h3>- - - 题目 - - -</h3>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    [(${question.fullContent})]
</div>
<br/>
<h3>- - - 答案 - - -</h3>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    [(${answer.answer})]
</div>
<br/>
<h3>- - - 解析 - - -</h3>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    [(${answer.analysis})]
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">

</script>
</body>
</html>
